[submodule "ape"]
	path = src/ape
	url = https://github.com/fermi-lat/ape.git
[submodule "facilities"]
	path = src/facilities
	url = https://github.com/fermi-lat/facilities.git
[submodule "astro"]
	path = src/astro
	url = https://github.com/fermi-lat/astro.git
[submodule "catalogAccess"]
	path = src/catalogAccess
	url = https://github.com/fermi-lat/catalogAccess.git
[submodule "xmlBase"]
	path = src/xmlBase
	url = https://github.com/fermi-lat/xmlBase.git
[submodule "dataSubselector"]
	path = src/dataSubselector
	url = https://github.com/fermi-lat/dataSubselector.git
[submodule "embed_python"]
	path = src/embed_python
	url = https://github.com/fermi-lat/embed_python.git
[submodule "evtbin"]
	path = src/evtbin
	url = https://github.com/fermi-lat/evtbin.git
[submodule "flux"]
	path = src/flux
	url = https://github.com/fermi-lat/flux.git
[submodule "healpix"]
	path = src/healpix
	url = https://github.com/fermi-lat/healpix.git
[submodule "hoops"]
	path = src/hoops
	url = https://github.com/fermi-lat/hoops.git
[submodule "Likelihood"]
	path = src/Likelihood
	url = https://github.com/fermi-lat/Likelihood.git
[submodule "map_tools"]
	path = src/map_tools
	url = https://github.com/fermi-lat/map_tools.git
[submodule "optimizers"]
	path = src/optimizers
	url = https://github.com/fermi-lat/optimizers.git
[submodule "pyLikelihood"]
	path = src/pyLikelihood
	url = https://github.com/fermi-lat/pyLikelihood.git
[submodule "rspgen"]
	path = src/rspgen
	url = https://github.com/fermi-lat/rspgen.git
[submodule "skymaps"]
	path = src/skymaps
	url = https://github.com/fermi-lat/skymaps.git
[submodule "SolarSystemTools"]
	path = src/SolarSystemTools
	url = https://github.com/fermi-lat/SolarSystemTools.git
[submodule "sourceIdentify"]
	path = src/sourceIdentify
	url = https://github.com/fermi-lat/sourceIdentify.git
[submodule "st_app"]
	path = src/st_app
	url = https://github.com/fermi-lat/st_app.git
[submodule "st_facilities"]
	path = src/st_facilities
	url = https://github.com/fermi-lat/st_facilities.git
[submodule "st_graph"]
	path = src/st_graph
	url = https://github.com/fermi-lat/st_graph.git
[submodule "st_stream"]
	path = src/st_stream
	url = https://github.com/fermi-lat/st_stream.git
[submodule "timeSystem"]
	path = src/timeSystem
	url = https://github.com/fermi-lat/timeSystem.git
[submodule "tip"]
	path = src/tip
	url = https://github.com/fermi-lat/tip.git
[submodule "irfs"]
	path = src/irfs
	url = https://github.com/fermi-lat/irfs.git
[submodule "celestialSources"]
	path = src/celestialSources
	url = https://github.com/fermi-lat/celestialSources.git
[submodule "fermitools-fhelp"]
	path = src/fermitools-fhelp
	url = https://github.com/fermi-lat/fermitools-fhelp.git
[submodule "pulsarDb"]
	path = src/pulsarDb
	url = https://github.com/fermi-lat/pulsarDb.git
[submodule "burstFit"]
	path = src/burstFit
	url = https://github.com/fermi-lat/burstFit.git
[submodule "pulsePhase"]
	path = src/pulsePhase
	url = https://github.com/fermi-lat/pulsePhase.git
[submodule "pyBurstAnalysisGUI"]
	path = src/pyBurstAnalysisGUI
	url = https://github.com/fermi-lat/pyBurstAnalysisGUI.git
[submodule "sane"]
	path = src/sane
	url = https://github.com/fermi-lat/sane.git
[submodule "BayesianBlocks"]
	path = src/BayesianBlocks
	url = https://github.com/fermi-lat/BayesianBlocks.git
[submodule "pyExposure"]
	path = src/pyExposure
	url = https://github.com/fermi-lat/pyExposure.git
[submodule "src/modelEditor"]
	path = src/modelEditor
	url = https://github.com/fermi-lat/modelEditor.git
[submodule "src/observationSim"]
	path = src/observationSim
	url = https://github.com/fermi-lat/observationSim.git
[submodule "src/fitsGen"]
	path = src/fitsGen
	url = https://github.com/fermi-lat/fitsGen.git
[submodule "src/evtUtils"]
	path = src/evtUtils
	url = https://github.com/fermi-lat/evtUtils.git
[submodule "src/orbitSim"]
	path = src/orbitSim
	url = https://github.com/fermi-lat/orbitSim.git
[submodule "src/Minuit2"]
	path = src/Minuit2
	url = https://github.com/fermi-lat/Minuit2.git
[submodule "src/pyBurstAnalysisGUI/"]
	branch = master
[submodule "externals/gsl"]
	path = externals/gsl
	url = git://git.savannah.gnu.org/gsl.git
[submodule "externals/gsl_module/gsl"]
	path = externals/gsl_module/gsl
	url = git://git.savannah.gnu.org/gsl.git
[submodule "externals/wcslib/wcslib"]
	path = externals/wcslib/wcslib
	url = https://github.com/fermi-lat/wcslib.git
[submodule "externals/xercesc/xercesc"]
	path = externals/xercesc/xercesc
	url = https://github.com/fermi-lat/xerces-c.git
[submodule "externals/gsl/gsl"]
	path = externals/gsl/gsl
	url = https://github.com/fermi-lat/gsl.git
[submodule "externals/cppunit"]
	path = externals/cppunit
	url = https://github.com/fermi-lat/cppunit.git
[submodule "externals/clhep"]
	path = externals/clhep
	url = https://github.com/fermi-lat/CLHEP.git
[submodule "externals/cppunit/cppunit"]
	path = externals/cppunit/cppunit
	url = https://github.com/fermi-lat/cppunit.git
[submodule "resources/clhep/clhep"]
	path = resources/clhep/clhep
	url = https://github.com/fermi-lat/CLHEP.git
