[submodule "ape"]
	path = src/ape
	url = https://github.com/fermi-lat/ape.git
	branch = cmake-update
[submodule "facilities"]
	path = src/facilities
	url = https://github.com/fermi-lat/facilities.git
	branch = cmake-update
[submodule "astro"]
	path = src/astro
	url = https://github.com/fermi-lat/astro.git
	branch = cmake-update
[submodule "catalogAccess"]
	path = src/catalogAccess
	url = https://github.com/fermi-lat/catalogAccess.git
	branch = cmake-update
[submodule "xmlBase"]
	path = src/xmlBase
	url = https://github.com/fermi-lat/xmlBase.git
	branch = cmake-update
[submodule "dataSubselector"]
	path = src/dataSubselector
	url = https://github.com/fermi-lat/dataSubselector.git
	branch = cmake-update
[submodule "embed_python"]
	path = src/embed_python
	url = https://github.com/fermi-lat/embed_python.git
	branch = cmake-update
[submodule "evtbin"]
	path = src/evtbin
	url = https://github.com/fermi-lat/evtbin.git
	branch = cmake-update
[submodule "flux"]
	path = src/flux
	url = https://github.com/fermi-lat/flux.git
	branch = cmake-update
[submodule "healpix"]
	path = src/healpix
	url = https://github.com/fermi-lat/healpix.git
	branch = cmake-update
[submodule "hoops"]
	path = src/hoops
	url = https://github.com/fermi-lat/hoops.git
	branch = cmake-update
[submodule "Likelihood"]
	path = src/Likelihood
	url = https://github.com/fermi-lat/Likelihood.git
	branch = cmake-update
[submodule "map_tools"]
	path = src/map_tools
	url = https://github.com/fermi-lat/map_tools.git
	branch = cmake-update
[submodule "optimizers"]
	path = src/optimizers
	url = https://github.com/fermi-lat/optimizers.git
	branch = cmake-update
[submodule "pyLikelihood"]
	path = src/pyLikelihood
	url = https://github.com/fermi-lat/pyLikelihood.git
	branch = cmake-update
[submodule "rspgen"]
	path = src/rspgen
	url = https://github.com/fermi-lat/rspgen.git
	branch = cmake-update
[submodule "skymaps"]
	path = src/skymaps
	url = https://github.com/fermi-lat/skymaps.git
	branch = cmake-update
[submodule "SolarSystemTools"]
	path = src/SolarSystemTools
	url = https://github.com/fermi-lat/SolarSystemTools.git
	branch = cmake-update
[submodule "sourceIdentify"]
	path = src/sourceIdentify
	url = https://github.com/fermi-lat/sourceIdentify.git
	branch = cmake-update
[submodule "st_app"]
	path = src/st_app
	url = https://github.com/fermi-lat/st_app.git
	branch = cmake-update
[submodule "st_facilities"]
	path = src/st_facilities
	url = https://github.com/fermi-lat/st_facilities.git
	branch = cmake-update
[submodule "st_graph"]
	path = src/st_graph
	url = https://github.com/fermi-lat/st_graph.git
	branch = cmake-update
[submodule "st_stream"]
	path = src/st_stream
	url = https://github.com/fermi-lat/st_stream.git
	branch = cmake-update
[submodule "timeSystem"]
	path = src/timeSystem
	url = https://github.com/fermi-lat/timeSystem.git
	branch = cmake-update
[submodule "tip"]
	path = src/tip
	url = https://github.com/fermi-lat/tip.git
	branch = cmake-update
[submodule "irfs"]
	path = src/irfs
	url = https://github.com/fermi-lat/irfs.git
	branch = cmake-update
[submodule "celestialSources"]
	path = src/celestialSources
	url = https://github.com/fermi-lat/celestialSources.git
	branch = cmake-update
[submodule "fermitools-fhelp"]
	path = src/fermitools-fhelp
	url = https://github.com/fermi-lat/fermitools-fhelp.git
	branch = cmake-update
[submodule "pulsarDb"]
	path = src/pulsarDb
	url = https://github.com/fermi-lat/pulsarDb.git
	branch = cmake-update
[submodule "burstFit"]
	path = src/burstFit
	url = https://github.com/fermi-lat/burstFit.git
	branch = cmake-update
[submodule "pulsePhase"]
	path = src/pulsePhase
	url = https://github.com/fermi-lat/pulsePhase.git
	branch = cmake-update
[submodule "pyBurstAnalysisGUI"]
	path = src/pyBurstAnalysisGUI
	url = https://github.com/fermi-lat/pyBurstAnalysisGUI.git
	branch = cmake-update
[submodule "sane"]
	path = src/sane
	url = https://github.com/fermi-lat/sane.git
	branch = cmake-update
[submodule "BayesianBlocks"]
	path = src/BayesianBlocks
	url = https://github.com/fermi-lat/BayesianBlocks.git
	branch = cmake-update
[submodule "pyExposure"]
	path = src/pyExposure
	url = https://github.com/fermi-lat/pyExposure.git
	branch = cmake-update
