name: Master CI/CD workflow for Fermitools build 
on:
  push:
    branches: pulsephase-deprecation # ${{github.ref_name}} not allowed here.
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  schedule:
    # Run only Monday morning starting at 1am EST
    - cron: '0 6 * * 1' 

jobs:
  # This workflow returns a JSON matrix that covers the 2 OSes (macos,linux) and 2 architectures (x86,arm64) we currently support. Plus additional variables needed by the other workflows.
  generate-matrix-tuple:
    uses: ./.github/workflows/generate-matrix.yml # Call the matrix-generating workflow
 
  # This job builds the 4 packages, uploads them to Anaconda and runs test(s) against them.  
  build-conda-pkg:
    needs: generate-matrix-tuple # Ensure matrix generation completes first
    uses: ./.github/workflows/build-conda-pkg.yml # Call the matrix-generating workflow
    secrets: inherit
    with:
      matrix_json: ${{ needs.generate-matrix-tuple.outputs.matrix }}
      build_label: ${{needs.generate-matrix-tuple.outputs.baseline_label }}

  # Testing should NOT be moved to this level. JSA 11/25
  # The Linux x86 is built inside a specific Docker vm, and we don't want have to rebuild that for a separate testing stage 
  # since we're already doing as part of the build stage


  # This job runs the Fermipy test(s) against the 4 conda fermitools packages.
  # Only run these tests for labels : rc or main
  test-conda-fermipy:
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix-tuple.outputs.matrix) }}
    if: ${{ contains(needs.generate-matrix-tuple.outputs.baseline_label,'rc') }}
    needs: [generate-matrix-tuple , build-conda-pkg] # Ensure matrix generation completes first
    uses: ./.github/workflows/testing-conda-fermipy.yml # Call the matrix-generating workflow
    secrets: inherit
    with:
      matrix_os: ${{ matrix.os }}
      fermitools_pkg_ver: ${{ needs.build-conda-pkg.outputs.pkg_ver }}
      build_label: ${{needs.generate-matrix-tuple.outputs.baseline_label }}

  # This job sends 1 Slack channel update to fermitools-pipeline per workflow run.
  # It uses Javascript to retrieve Job information via GITHUB's REST interface.
  # It builds a message with individual links to the various job runners.

  notify_via_slack:
    # This job runs after all jobs in the 'run_matrix_tests' job have completed
    if: always() # This ensures the job runs even if 'build-conda-pkg' fails
    needs: [generate-matrix-tuple, build-conda-pkg]
    uses: ./.github/workflows/notify-slack.yml
    secrets: inherit
    with:
      message_title: "Workflow  #${{ github.run_number }} from *${{ github.repository }}*  branch: *${{ github.ref_name }}*  label:*${{ needs.generate-matrix-tuple.outputs.baseline_label }}*"
