name: Master CI/CD workflow for Fermitools build 
on:
  push:
    branches: master # ${{github.ref_name}} not allowed here.
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  schedule:
    # Run only Monday morning starting at 1am EST
    - cron: '0 6 * * 1' 

jobs:
  # This workflow returns a JSON matrix that covers the 2 OSes (macos,linux) and 2 architectures (x86,arm64) we currently support. Plus additional variables needed by the other workflows.
  generate-matrix-tuple:
    uses: ./.github/workflows/generate-setup.yml # Call the matrix-generating workflow
 
  # This job builds the 4 packages, uploads them to Anaconda and runs test(s) against them.  
  build-conda-pkg:
    needs: generate-matrix-tuple # Ensure matrix generation completes first
    uses: ./.github/workflows/build-pkg-conda.yml # Call the conda building workflow
    secrets: inherit
    with:
      matrix_json: ${{ needs.generate-matrix-tuple.outputs.matrix }}
      build_label: ${{needs.generate-matrix-tuple.outputs.baseline_label }}

  # Waits till all the builds complete, before running testing.
  # The "needs" keyword forces all of the build runners to complete before any testing can be run.
  # Longest build is the macos x86: Currently takes 90 minutes to complete (Docker version)

  run-python-tests:
    needs: [generate-matrix-tuple , build-conda-pkg] # Ensure matrix generation completes first
    name: ${{matrix.os}}, ${{matrix.arch}}, ${{matrix.container}}
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix-tuple.outputs.matrix) }}
    uses: ./.github/workflows/testing-conda-st-unit.yml     #python-test.yml
    with:
      matrix_os: ${{ matrix.os }}
      fermitools_pkg_ver: ${{ needs.build-conda-pkg.outputs.pkg_ver }}
      build_label: ${{needs.generate-matrix-tuple.outputs.baseline_label }}

  # This job runs the Fermipy test(s) against the 4 conda fermitools packages.
  # Only run these tests for labels : rc or main
  test-conda-fermipy:
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix-tuple.outputs.matrix) }}
    # if: ${{ contains(needs.generate-matrix-tuple.outputs.baseline_label,'rc') }}
    if: ${{ contains( fromJSON('["rc", "main"]'), needs.generate-matrix-tuple.outputs.baseline_label) }}
    needs: [generate-matrix-tuple , build-conda-pkg] # Ensure matrix generation completes first
    uses: ./.github/workflows/testing-conda-fermipy.yml # Call the matrix-generating workflow
    secrets: inherit
    with:
      matrix_os: ${{ matrix.os }}
      fermitools_pkg_ver: ${{ needs.build-conda-pkg.outputs.pkg_ver }}
      build_label: ${{needs.generate-matrix-tuple.outputs.baseline_label }}

  # This job sends 1 Slack channel update to fermitools-pipeline per workflow run.
  # It uses Javascript to retrieve Job information via GITHUB's REST interface.
  # It builds a message with individual links to the various job runners.

  notify_via_slack:
    # This job runs after all jobs in the 'run_matrix_tests' job have completed
    if: always() # This ensures the job runs even if 'build-conda-pkg' fails
    needs: [generate-matrix-tuple, build-conda-pkg, test-conda-fermipy]
    uses: ./.github/workflows/notify-slack.yml
    secrets: inherit
    with:
      message_title: "Workflow  #${{ github.run_number }} from *${{ github.repository }}*  branch: *${{ github.ref_name }}*  label:*${{ needs.generate-matrix-tuple.outputs.baseline_label }}*"
