name: Notify Slack

on:
  workflow_call:
    inputs:
      message_title:
        required: true
        type: string

jobs:
  send_notification:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch workflow run jobs and format message
        id: format_message
        uses: actions/github-script@v8
        with:
          script: |
            const { owner, repo, runId } = context;
            const res = await github.rest.actions.listJobsForWorkflowRun({
              owner,
              repo,
              run_id: runId
            });

            const matrixJobs = res.data.jobs.filter(job => job.strategy); // Filter for matrix jobs if needed
            let message = "${{ inputs.message_title }} Pipeline Status:\n\n";
            
            for (const job of matrixJobs) {
              const jobUrl = job.html_url;
              const jobName = job.name;
              const jobStatus = job.conclusion;
              // const emoji = jobStatus === 'success' ? '✅' : jobStatus === 'failure' ? '❌' : '⚠️';
              message += "*${jobName}*: <${jobUrl}|View run> (${jobStatus})\n";
            }
            console.log(message); 
            // Set the full message as an output
            core.setOutput('full_message', message);

      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v2.1.1
        with: 
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          # Use the full message output from the previous step
          payload: |
            {
              "text": "${{ steps.format_message.outputs.full_message }}"
            }
