name: Matrix Test and Notify

on:
  push:
    branches: reset_checkout_fixes
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  run_matrix_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run some tests
        run: echo "Simulating tests on ${{ matrix.os }}"

  notify:
    # This job runs after all jobs in the 'run_matrix_tests' job have completed
    needs: run_matrix_tests
    uses: ./.github/workflows/notify-slack.yml 
    secrets: inherit
    with:
      message_title: "Workflow  #${{ github.run_number }} from ${{ github.repository }} branch ${{ github.ref_name }} "
